@media all and(min-width: 376px){
  nav ul{
    display: flex;
    justify-content: center;
    gap: 60px;
    background-color: #016554;
    list-style: none;
    padding-top: 10px;
    height: 30px;
  }
}

nav ul li a{

  color: #FFCDBD;
  font-family: georgia;
  font-size: 17px;
  text-decoration: none;
  margin-top: 10px;
  list-style:none;


}

h1#site-title {
  color: #9E001D;
  font-family: georgia;
  text-align: center;
}

@ media all and(min-width:800px){

  p{

    text-align: center;
  }

}


figcaption {

  width: 200px;
  background: #ffcccc;
  text-align: center;


}

figure pasta-picture {

  margin-left: 300px;
  margin-right: 300px;
  border: 3px solid black;
  max-width: 100%;
  height: auto;

}

p1{

  text-align: center;
}

img#cat {
  max-width: 100%;
  max-height: auto;
  justify-content: center;
}

figure my-cat{
  border: 3px solid black;
  margin-left: 300px;
  margin-right: 300px;
  align-content: center;
  max-width: 100%;
  max-height: auto;


}
