nav ul{
  display: flex;
  justify-content: center;
  gap: 60px;
  background-color: #016554;
  list-style: none;
  padding-top: 10px;
  height: 30px;

}

nav ul li a{

  color: #FFCDBD;
  font-family: georgia;
  font-size: 15px;
  text-decoration: none;
  margin-top: 10px;

}

h1#site-title {
  color: #9E001D;
  font-family: georgia;
  text-align: center;
}

  p{
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
  }

figcaption {

  width: 200px;
  background: #ffcccc;
}

figure.pasta-picture {

  margin-left: 300px;
  margin-right: 300px;
  border: 3px solid black;
  max-width: 100%;
  height: auto;
  float:right;
}

p1{
  margin-left: 300px;
  margin-right: 200px;
  text-align: center;
}

img#cat {
  max-width: 30%;
  max-height: auto;
  margin-left: 500px;
  margin-right: 400px;
}
